<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.ilko.memoria"
    version   = "1.0.0">

	<name>Ilko</name>

	<description>
		Tablero regalón Ilko 
	</description>

	<author href="http://www.facebook.com/renzotev" email="renzotelenta@gmail.com">
		Renzo Telenta
	</author>
	
	<gap:splash src="splash.png" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />

	<gap:platform name="android" />

	<icon src="icon.png" gap:platform="android" />


</widget>