html,
body
	height 100%
	min-height 100%
	background-color rojo

*
	box-sizing border-box
	
.container
	width 100%
	height 100%
	border 2px solid #231F20
	display none
	clearfix()

.welcome
	background url("../img/prueba.png") center center no-repeat
	border 0 none
	
.try_again
	background url("../img/intenta.png") center center no-repeat 
	border 0 none
	
.you_won
	background url("../img/gana.png") center center no-repeat 
	border 0 none
	
.logo
	background url("../img/logo-grande.png") center center no-repeat 
	border 0 none